# This notebook is to preprocess the CPI data (source: IMF [http://data.imf.org/regular.aspx?key=61545861])

In [162]:
import matplotlib.pyplot as plt
import os
import pandas as pd
import sys
from time import time
import re
import datetime as dt

%matplotlib inline

%pylab inline
pylab.rcParams['figure.figsize'] = (20.0, 10.0)

%load_ext autoreload
%autoreload 2

# Constants definition
DATA_PATH = '../data/'
PROJECT_ROOT = '../'
SRC = PROJECT_ROOT + 'src/'

EXCHANGES = 'filt_rates.csv'
COUNTRY_CODES = 'filt_codes.csv'
CPI = 'filt_cpi.csv'

sys.path.append(SRC)

Populating the interactive namespace from numpy and matplotlib
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [163]:
codes_df = pd.read_csv(DATA_PATH + COUNTRY_CODES, index_col=0)
rates_df = pd.read_csv(DATA_PATH + EXCHANGES, index_col=0)

In [164]:
codes_df.shape

(59, 2)

In [165]:
codes_df

                             name               country
code
DZD                Algerian Dinar               Algeria
ARS                Argentine Peso             Argentina
AUD             Australian Dollar             Australia
BHD                Bahraini Dinar               Bahrain
BRL                Brazilian Real                Brazil
GBP                Pound Sterling        United Kingdom
BGN                 Bulgarian Lev              Bulgaria
CAD               Canadian Dollar                Canada
CLP                  Chilean Peso                 Chile
CNY                 Yuan Renminbi                 China
COP                Colombian Peso              Colombia
HRK                 Croatian Kuna               Croatia
CYP                  Cyprus Pound                Cyprus
CZK                  Czech Koruna        Czech Republic
DKK                  Danish Krone               Denmark
EGP                Egyptian Pound                 Egypt
EUR                          Euro        European Union
FJD                   Fiji Dollar                  Fiji
XPF                     CFP franc      French Polynesia
GHS                          Cedi                 Ghana
HNL                       Lempira              Honduras
HKD              Hong Kong Dollar             Hong Kong
HUF                        Forint               Hungary
ISK                 Iceland Krona               Iceland
INR                  Indian Rupee                 India
IDR                        Rupiah             Indonesia
ILS            New Israeli Shekel                Israel
JMD               Jamaican Dollar               Jamaica
JPY                  Japanese yen                 Japan
KWD                 Kuwaiti Dinar                Kuwait
MYR             Malaysian Ringgit              Malaysia
MTL                  Maltese Lira                 Malta
MXN                  Mexican Peso                Mexico
MAD               Moroccan Dirham               Morocco
NZD            New Zealand Dollar           New Zealand
NOK               Norwegian Krone                Norway
PKR                Pakistan Rupee              Pakistan
PEN                     Nuevo Sol                  Peru
PHP               Philippine Peso           Philippines
PLN                         Zloty                Poland
RON              Romanian New Leu               Romania
RUB                 Russian Ruble                Russia
SAR                   Saudi Riyal          Saudi Arabia
SGD              Singapore Dollar             Singapore
SKK                 Slovak Koruna              Slovakia
ZAR            South African Rand          South Africa
KRW              South Korean Won           South Korea
LKR               Sri Lanka Rupee             Sri Lanka
SEK                 Swedish Krona                Sweden
CHF                   Swiss Franc           Switzerland
TWD             New Taiwan Dollar                Taiwan
THB                          Baht              Thailand
TTD    Trinidad and Tobago Dollar   Trinidad and Tobago
TND                Tunisian Dinar               Tunisia
TRY              New Turkish Lira                Turkey
AED   United Arab Emirates dirham  United Arab Emirates
UYU                 Peso Uruguayo               Uruguay
VND               Vietnamese đồng               Vietnam
VEF            Venezuelan bolívar             Venezuela

In [166]:
# There is no data for Polynesia
codes_df = codes_df.drop('XPF')

# There is no data for Taiwan
codes_df = codes_df.drop('TWD')

In [167]:
cpi_df = pd.read_csv(DATA_PATH + 'cpi.csv')

In [168]:
cpi_filt_df = cpi_df.dropna(axis=0, subset=['code']).set_index('code').replace('...', np.nan)
cpi_filt_df

,country,2007Q1,2007M01,2007M02,2007M03,2007Q2,2007M04,2007M05,2007M06,2007Q3,...,2016M05,2016M06,2016Q3,2016M07,2016M08,2016M09,2016Q4,2016M10,2016M11,2016M12
code,,,,,,,,,,,,,,,,,,,,,
EUR,Euro Area,93.71,93.33,93.6,94.22,95,94.82,95.04,95.14,95.07,...,107.75,107.93,107.53,107.33,107.43,107.84,108.24,108.11,108.02,108.6
CYP,Cyprus,90.84,90.51,90.45,91.56,92.81,92.57,93.03,92.84,92.9,...,100.37,100.22,100.53,100.42,100.33,100.85,101.05,100.94,100.87,101.33
MTL,Malta,90.84,90.53,90.77,91.22,92.03,91.85,92.09,92.16,92.79,...,108.86,109.04,108.91,108.68,108.88,109.17,109.81,109.28,109.71,110.44
SKK,Slovak Republic,92.49,92.33,92.53,92.6,92.89,92.8,92.8,93.07,93.13,...,108.3,108.43,107.97,108.03,107.9,107.97,108.34,108.23,108.37,108.43
AUD,Australia,90.15,NaN,NaN,NaN,91.25,NaN,NaN,NaN,91.89,...,NaN,NaN,113.84,NaN,NaN,NaN,114.46,NaN,NaN,NaN
CAD,Canada,94.65,93.93,94.62,95.39,96.05,95.82,96.25,96.08,96.05,...,110.59,110.85,110.59,110.68,110.5,110.59,110.5,110.85,110.42,110.25
HKD,"China, P.R.: Hong Kong",91.93,92.18,90.95,92.67,92.42,92.18,92.3,92.67,93.15,...,125.06,125.06,125.79,125.55,125.67,126.04,126.65,126.28,126.65,126.89
CZK,Czech Republic,90.2,89.92,90.2,90.48,91.41,91.09,91.43,91.71,92.14,...,108.1,108.16,108.33,108.49,108.33,108.1,108.77,108.44,108.77,109.11
DKK,Denmark,92.59,91.81,92.79,93.19,93.44,93.36,93.52,93.44,93.08,...,107.67,107.78,107.45,107.67,107.35,107.35,107.49,107.56,107.45,107.45
ISK,Iceland,73.6,73.48,73.79,73.53,74.54,73.99,74.62,75,75.52,...,119.89,120.1,120.21,119.71,120.18,120.74,120.77,120.74,120.69,120.88
ILS,Israel,88.65,88.77,88.5,88.68,89.33,89.12,89.12,89.75,91.01,...,106.02,106.34,106.52,106.77,106.45,106.34,106.27,106.55,106.12,106.12
JPY,Japan,100.15,100.39,99.87,100.18,100.63,100.49,100.8,100.6,100.84,...,103.6,103.5,103.29,103.19,103.29,103.39,103.91,104.01,104.01,103.7
KRW,"Korea, Republic of",89.14,88.57,89.17,89.69,90.09,90.03,90.12,90.12,90.69,...,110.72,110.7,110.89,110.49,110.77,111.43,111.52,111.59,111.42,111.54
NZD,New Zealand,90.91,NaN,NaN,NaN,91.81,NaN,NaN,NaN,92.26,...,NaN,NaN,108.82,NaN,NaN,NaN,109.27,NaN,NaN,NaN
NOK,Norway,91.31,90.87,91.26,91.81,91.83,91.81,91.88,91.81,91.73,...,112.09,112.74,113.18,113.5,112.85,113.18,113.68,113.72,113.94,113.39
SGD,Singapore,89.1,88.8,89.33,89.15,89.56,89.5,89.77,89.42,91.43,...,111.73,112.52,112.64,112.29,112.86,112.86,112.86,112.52,112.86,113.09
SEK,Sweden,94.75,94.23,94.7,95.32,95.79,95.81,95.7,95.86,96.01,...,104.54,104.65,104.69,104.71,104.6,104.77,105.33,105.13,105.17,105.69
CHF,Switzerland,96.3,96.15,96.35,96.41,97.7,97.51,97.73,97.85,97.23,...,98.12,98.26,97.78,97.82,97.72,97.78,97.68,97.83,97.64,97.56
GBP,United Kingdom,90.59,90.15,90.59,91.02,91.52,91.29,91.55,91.72,91.4,...,112.28,112.5,112.8,112.5,112.84,113.06,113.51,113.17,113.4,113.96
CNY,"China, P.R.: Mainland",90.48,89.88,90.93,90.63,90.8,90.57,90.35,91.48,92.8,...,116.73,116.5,117.07,116.73,116.84,117.65,117.68,117.53,117.65,117.88
FJD,Fiji,85.11,84.28,85.33,85.73,87.16,86.13,87.51,87.83,86.94,...,121.56,121.66,122.56,122.09,122.74,122.84,121.98,122.09,121.88,121.98
INR,India,72.38,72.19,72.76,72.19,73.33,72.76,73.33,73.9,75.42,...,154.24,156.04,157.16,157.24,157.24,157,157.12,157.6,157.36,156.4
IDR,Indonesia,81.51,81.23,81.57,81.72,81.82,81.71,81.8,81.95,82.94,...,135.66,136.55,137.58,137.5,137.47,137.78,138.61,137.98,138.63,139.21
MYR,Malaysia,92.16,92.19,92.19,92.11,92.22,92.11,92.19,92.37,92.87,...,114.6,114.8,115.33,115.1,115.6,115.3,116.5,115.7,116.9,116.9
PHP,Philippines,84.43,84.48,84.4,84.4,84.87,84.56,84.81,85.23,85.84,...,119,119.5,119.83,119.67,119.75,120,120.91,120.25,121,121.41
LKR,Sri Lanka,70.09,69.09,70.63,70.54,71.94,71.14,71.59,73.09,75.09,...,133.82,135.86,135.14,136.7,134.54,134.18,136.18,134.54,136.34,137.66
THB,Thailand,91.01,91.07,90.7,91.26,92.68,92.18,92.92,92.92,92.74,...,111.1,111.14,110.73,110.75,110.71,110.75,110.93,110.93,110.86,111
VND,Vietnam,67.41,66.5,67.96,67.77,68.67,68.14,68.63,69.23,70.27,...,148.89,149.58,150.14,149.77,149.93,150.73,152.59,151.99,152.72,153.07
BGN,Bulgaria,81.53,81.29,81.67,81.62,81.96,82.02,82.09,81.78,85.69,...,105.27,105.12,105.95,106.14,106.09,105.61,106.02,105.84,105.8,106.41
HRK,Croatia,89.62,89.23,89.55,90.09,90.91,90.73,91.16,90.84,90.91,...,106.41,106.3,105.76,105.55,105.33,106.41,106.84,106.84,106.94,106.73
HUF,Hungary,84.33,83.4,84.47,85.13,86.01,85.46,86.12,86.45,86.58,...,112.06,112.3,111.81,112.06,111.59,111.78,112.65,112.46,112.53,112.97
PLN,Poland,88.74,88.42,88.68,89.12,89.87,89.57,90.02,90.02,89.74,...,107.6,107.8,107.2,107.5,107.3,107.3,108.13,107.8,107.9,108.7
RON,Romania,80.91,80.87,80.91,80.96,81.77,81.38,81.91,82.02,83.02,...,112.6,112.4,112.14,112.13,112.2,112.08,112.7,112.56,112.63,112.9
TRY,Turkey,76.59,76.14,76.47,77.17,78.3,78.1,78.49,78.3,78.01,...,155.84,156.58,158.19,158.4,157.94,158.22,161.94,160.5,161.33,163.98
RUB,Russia,70.96,70.31,71.08,71.51,72.46,71.91,72.37,73.05,73.94,...,161.58,162.18,163.14,163.08,163.08,163.28,164.74,164.08,164.78,165.38
DZD,Algeria,84.46,84.74,84,84.64,84.25,83.22,84.1,85.43,85.22,...,134.56,136.38,136.27,135.73,136.29,136.81,137.38,135.9,137.98,138.24
BHD,"Bahrain, Kingdom of",91.13,NaN,NaN,NaN,91.57,NaN,NaN,NaN,92.73,...,113.8,114.15,114.06,114.06,113.71,114.42,113.38,113.98,113.17,112.99
EGP,Egypt,66.46,66.19,66.46,66.72,66.85,66.85,66.79,66.92,68.33,...,174.82,176.21,180.49,177.45,180.88,183.16,194.35,186.3,195.34,201.42
KWD,Kuwait,80.95,80.71,80.71,81.41,81.46,80.99,81.41,81.97,83,...,121,121.86,122.46,121.94,122.12,123.32,123.52,123.24,123.06,124.27
MAD,Morocco,93.63,93.63,93.53,93.74,94.08,94.43,93.74,94.06,94.82,...,108.01,108.47,108.53,108.29,108.29,109.02,108.53,108.75,108.47,108.38
PKR,Pakistan,61.94,61.41,62.05,62.35,62.97,62.55,63.12,63.25,64.91,...,149.47,150.42,152.24,152.44,151.99,152.3,153.39,153.52,153.84,152.8
SAR,Saudi Arabia,80.76,80.97,80.5,80.81,80.89,80.89,80.81,80.97,82.5,...,122.4,122.75,122.75,122.84,122.67,122.67,122.22,122.58,122.31,121.69
TND,Tunisia,86.2,86.2,86.12,86.28,87.45,86.77,87.43,88.16,88.85,...,130.69,131.19,131.95,131.39,131.69,132.79,134.06,133.69,133.99,134.49
AED,United Arab Emirates,86.95,86.95,86.95,86.95,86.95,86.95,86.95,86.95,86.95,...,110.69,111.19,111.77,111.52,112.02,111.77,111.95,111.82,112.18,111.85
GHS,Ghana,62.01,61.25,62,62.79,64.69,63.76,64.91,65.39,66.19,...,209.36,212.21,213.25,214.02,212.69,213.04,217.89,216.01,217.79,219.87
ZAR,South Africa,77.48,77.33,77.22,77.89,79.42,78.9,79.34,80.02,81.25,...,137.77,138.47,139.6,139.6,139.46,139.75,140.92,140.45,140.88,141.44
ARS,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BRL,Brazil,84.71,84.36,84.73,85.04,85.49,85.25,85.49,85.72,86.25,...,150.11,150.63,151.9,151.42,152.08,152.2,152.94,152.6,152.88,153.34
CLP,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122.17,122.71,123.15,123.01,123.07,123.37,123.54,123.58,123.64,123.39
COP,Colombia,85.94,84.93,85.93,86.97,87.96,87.75,88.01,88.12,88.21,...,126.62,127.19,127.58,127.86,127.48,127.38,127.58,127.29,127.48,127.96
HNL,Honduras,78.94,78.29,78.97,79.56,80.33,80.01,80.33,80.65,81.69,...,132.23,133.1,133.7,133.5,133.69,133.91,134.16,133.91,134.1,134.46
JMD,Jamaica,63.23,62.86,63.05,63.79,64.81,64.1,64.91,65.41,66.84,...,142.52,143.75,145.1,144.45,145.08,145.76,146.62,146.14,146.66,147.07
MXN,Mexico,86.07,85.85,86.09,86.27,85.97,86.22,85.8,85.9,86.73,...,121.55,121.68,122.48,122,122.35,123.09,124.68,123.84,124.81,125.38
PEN,Peru,89,88.75,88.97,89.28,89.89,89.44,89.89,90.34,91,...,121.59,121.76,122.23,121.86,122.29,122.55,123.43,123.05,123.41,123.83
TTD,Trinidad and Tobago,72.97,72.74,72.97,73.2,74.36,73.95,74.4,74.75,76.46,...,137.46,137.73,138.3,137.99,138.39,138.52,139.09,138.78,139.05,139.44
UYU,Uruguay,78.51,77.95,78.43,79.13,80.54,80.1,80.71,80.82,82.54,...,164.5,165.16,166.57,165.8,166.75,167.16,167.27,167.47,167.63,166.72
VEF,"Venezuela, Republica Bolivariana de",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2217.9,2643.73,3105.84,2873.98,3079.39,3364.14,4117.65,3633.46,4053.69,4665.79

### Australia, New Zealand and the Kingdom of Bahrain seem to repor the CPI quarterly.

In [169]:
cpi_filt_df.isnull().sum(axis=1)

code
EUR      0
CYP      0
MTL      0
SKK      0
AUD    120
CAD      0
HKD      0
CZK      0
DKK      0
ISK      0
ILS      0
JPY      0
KRW      0
NZD    120
NOK      0
SGD      0
SEK      0
CHF      0
GBP      0
CNY      0
FJD      0
INR      0
IDR      0
MYR      0
PHP      0
LKR      0
THB      0
VND      0
BGN      0
HRK      0
HUF      0
PLN      0
RON      0
TRY      0
RUB      0
DZD      0
BHD      7
EGP      0
KWD      0
MAD      0
PKR      0
SAR      0
TND      0
AED      0
GHS      0
ZAR      0
ARS    131
BRL      0
CLP     32
COP      0
HNL      0
JMD      0
MXN      0
PEN      0
TTD      0
UYU      0
VEF     15
dtype: int64

### Let's remove all the countries that have missing values (the idea is not to have a very big dataset, anyway)

In [170]:
no_missing = cpi_filt_df.isnull().sum(axis=1) == 0
cpi_filt_df = cpi_filt_df[no_missing]
cpi_filt_df.shape

(51, 161)

In [171]:
import re

month_matcher = re.compile('\d{4}M\d{2}')

months = [month_matcher.match(col).group(0) for col in cpi_filt_df.columns if month_matcher.match(col) is not None]
print(len(months))

120

In [172]:
cpi_filt_df = cpi_filt_df.loc[:, months]
cpi_filt_df.shape

(51, 120)

In [173]:
cpi_filt_df.head()

,2007M01,2007M02,2007M03,2007M04,2007M05,2007M06,2007M07,2007M08,2007M09,2007M10,...,2016M03,2016M04,2016M05,2016M06,2016M07,2016M08,2016M09,2016M10,2016M11,2016M12
code,,,,,,,,,,,,,,,,,,,,,
EUR,93.33,93.6,94.22,94.82,95.04,95.14,94.9,94.97,95.32,95.78,...,107.32,107.36,107.75,107.93,107.33,107.43,107.84,108.11,108.02,108.6
CYP,90.51,90.45,91.56,92.57,93.03,92.84,92.15,92.67,93.89,94.76,...,99.58,99.74,100.37,100.22,100.42,100.33,100.85,100.94,100.87,101.33
MTL,90.53,90.77,91.22,91.85,92.09,92.16,92.28,92.53,93.56,94.39,...,108.13,108.74,108.86,109.04,108.68,108.88,109.17,109.28,109.71,110.44
SKK,92.33,92.53,92.6,92.8,92.8,93.07,93,93.07,93.33,93.86,...,108.03,108.37,108.3,108.43,108.03,107.9,107.97,108.23,108.37,108.43
CAD,93.93,94.62,95.39,95.82,96.25,96.08,96.16,95.91,96.08,95.82,...,109.82,110.16,110.59,110.85,110.68,110.5,110.59,110.85,110.42,110.25

In [174]:
cpi_filt_df.isnull().sum().sum()

0

In [175]:
cpi_filt_df.to_csv(DATA_PATH + CPI)

### Let's transform the month format to a datetime

In [176]:
mex = cpi_filt_df.columns[0]
mex

'2007M01'

In [177]:
def transform_month(weird_str):
    year, month = weird_str.split('M')
    return dt.date(int(year), int(month), 15)

In [178]:
transform_month(mex)

datetime.date(2007, 1, 15)

In [179]:
cpi_filt_df.rename(columns={old:transform_month(old) for old in cpi_filt_df.columns}, inplace=True)

In [180]:
cpi_filt_df = cpi_filt_df.transpose()
cpi_filt_df.index.name = 'date'
cpi_filt_df.head()

code,EUR,CYP,MTL,SKK,CAD,HKD,CZK,DKK,ISK,ILS,...,GHS,ZAR,BRL,COP,HNL,JMD,MXN,PEN,TTD,UYU
date,,,,,,,,,,,,,,,,,,,,,
2007-01-15,93.33,90.51,90.53,92.33,93.93,92.18,89.92,91.81,73.48,88.77,...,61.25,77.33,84.36,84.93,78.29,62.86,85.85,88.75,72.74,77.95
2007-02-15,93.6,90.45,90.77,92.53,94.62,90.95,90.2,92.79,73.79,88.5,...,62,77.22,84.73,85.93,78.97,63.05,86.09,88.97,72.97,78.43
2007-03-15,94.22,91.56,91.22,92.6,95.39,92.67,90.48,93.19,73.53,88.68,...,62.79,77.89,85.04,86.97,79.56,63.79,86.27,89.28,73.2,79.13
2007-04-15,94.82,92.57,91.85,92.8,95.82,92.18,91.09,93.36,73.99,89.12,...,63.76,78.9,85.25,87.75,80.01,64.1,86.22,89.44,73.95,80.1
2007-05-15,95.04,93.03,92.09,92.8,96.25,92.3,91.43,93.52,74.62,89.12,...,64.91,79.34,85.49,88.01,80.33,64.91,85.8,89.89,74.4,80.71

### Let's look that there are no Euro area countries left in the list

In [181]:
codes_df.loc[cpi_filt_df.columns]

                             name               country
code
EUR                          Euro        European Union
CYP                  Cyprus Pound                Cyprus
MTL                  Maltese Lira                 Malta
SKK                 Slovak Koruna              Slovakia
CAD               Canadian Dollar                Canada
HKD              Hong Kong Dollar             Hong Kong
CZK                  Czech Koruna        Czech Republic
DKK                  Danish Krone               Denmark
ISK                 Iceland Krona               Iceland
ILS            New Israeli Shekel                Israel
JPY                  Japanese yen                 Japan
KRW              South Korean Won           South Korea
NOK               Norwegian Krone                Norway
SGD              Singapore Dollar             Singapore
SEK                 Swedish Krona                Sweden
CHF                   Swiss Franc           Switzerland
GBP                Pound Sterling        United Kingdom
CNY                 Yuan Renminbi                 China
FJD                   Fiji Dollar                  Fiji
INR                  Indian Rupee                 India
IDR                        Rupiah             Indonesia
MYR             Malaysian Ringgit              Malaysia
PHP               Philippine Peso           Philippines
LKR               Sri Lanka Rupee             Sri Lanka
THB                          Baht              Thailand
VND               Vietnamese đồng               Vietnam
BGN                 Bulgarian Lev              Bulgaria
HRK                 Croatian Kuna               Croatia
HUF                        Forint               Hungary
PLN                         Zloty                Poland
RON              Romanian New Leu               Romania
TRY              New Turkish Lira                Turkey
RUB                 Russian Ruble                Russia
DZD                Algerian Dinar               Algeria
EGP                Egyptian Pound                 Egypt
KWD                 Kuwaiti Dinar                Kuwait
MAD               Moroccan Dirham               Morocco
PKR                Pakistan Rupee              Pakistan
SAR                   Saudi Riyal          Saudi Arabia
TND                Tunisian Dinar               Tunisia
AED   United Arab Emirates dirham  United Arab Emirates
GHS                          Cedi                 Ghana
ZAR            South African Rand          South Africa
BRL                Brazilian Real                Brazil
COP                Colombian Peso              Colombia
HNL                       Lempira              Honduras
JMD               Jamaican Dollar               Jamaica
MXN                  Mexican Peso                Mexico
PEN                     Nuevo Sol                  Peru
TTD    Trinidad and Tobago Dollar   Trinidad and Tobago
UYU                 Peso Uruguayo               Uruguay

It would be reasonable, first, to add the region data, and only look for "Europe"

Let's do it in the next notebook.

In [182]:
cpi_filt_df.to_csv(DATA_PATH + CPI)

### Let's filter the rates and codes to contain only the countries that are left now

In [183]:
rates_df.columns.name = 'code'
rates_df = rates_df[cpi_filt_df.columns]
rates_df.head()

code,EUR,CYP,MTL,SKK,CAD,HKD,CZK,DKK,ISK,ILS,...,GHS,ZAR,BRL,COP,HNL,JMD,MXN,PEN,TTD,UYU
date,,,,,,,,,,,,,,,,,,,,,
2007-01-15,1.29890,2.2461,3.0251,0.037374,0.85039,0.12820,0.046615,0.17427,0.014276,0.23633,...,1.08308,0.139034,0.46759,0.000447,0.052925,0.014866,0.091271,0.31326,0.15799,0.041107
2007-02-15,1.30822,2.2580,3.0478,0.037938,0.85422,0.12801,0.046315,0.17551,0.014855,0.23710,...,1.08057,0.139326,0.47722,0.000449,0.052925,0.014818,0.090953,0.31347,0.15842,0.041219
2007-03-15,1.32449,2.2858,3.0879,0.039208,0.85600,0.12799,0.047220,0.17779,0.014932,0.23806,...,1.07854,0.136017,0.47857,0.000455,0.052925,0.014791,0.089954,0.31394,0.15898,0.041350
2007-04-15,1.35185,2.3315,3.1497,0.040393,0.88164,0.12795,0.048273,0.18138,0.015281,0.24494,...,1.07867,0.140786,0.49236,0.000467,0.052925,0.014749,0.091066,0.31463,0.15895,0.041681
2007-05-15,1.35169,2.3265,3.1488,0.040061,0.91333,0.12790,0.047850,0.18140,0.015870,0.24976,...,1.07732,0.142462,0.50388,0.000499,0.052923,0.014682,0.092396,0.31562,0.15918,0.041819

In [188]:
rates_df.to_csv(DATA_PATH + EXCHANGES)

In [186]:
codes_df = codes_df.loc[cpi_filt_df.columns]
print(codes_df.shape)
codes_df.head()

(51, 2)

                 name         country
code
EUR              Euro  European Union
CYP      Cyprus Pound          Cyprus
MTL      Maltese Lira           Malta
SKK     Slovak Koruna        Slovakia
CAD   Canadian Dollar          Canada

In [189]:
codes_df.to_csv(DATA_PATH + COUNTRY_CODES)