# Let's look at the preprocessed data, and maybe reformat it to be used with R in the same way as in the course.

In [142]:
import matplotlib.pyplot as plt
import os
import pandas as pd
import sys
from time import time
import re
import datetime as dt

%matplotlib inline

%pylab inline
pylab.rcParams['figure.figsize'] = (20.0, 10.0)

%load_ext autoreload
%autoreload 2

# Constants definition
DATA_PATH = '../data/preprocessed_data/'
PROJECT_ROOT = '../'
SRC = PROJECT_ROOT + 'src/'

RATES = 'rates.csv'
CODES = 'codes.csv'
CPI = 'cpi.csv'
CPI_USA = 'cpi_usa.csv'

sys.path.append(SRC)

Populating the interactive namespace from numpy and matplotlib
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [143]:
rates_df = pd.read_csv(DATA_PATH + RATES, index_col=0)
codes_df = pd.read_csv(DATA_PATH + CODES, index_col=0)
cpi_df = pd.read_csv(DATA_PATH + CPI, index_col=0)
cpi_usa_df = pd.read_csv(DATA_PATH + CPI_USA, index_col=0)

In [144]:
print(codes_df.shape)
codes_df

(51, 3)

,name,country,region
code,,,
EUR,Euro,European Union,Europe & Central Asia
CYP,Cyprus Pound,Cyprus,Europe & Central Asia
MTL,Maltese Lira,Malta,Middle East & North Africa
SKK,Slovak Koruna,Slovakia,Europe & Central Asia
CAD,Canadian Dollar,Canada,North America
HKD,Hong Kong Dollar,Hong Kong,East Asia & Pacific
CZK,Czech Koruna,Czech Republic,Europe & Central Asia
DKK,Danish Krone,Denmark,Europe & Central Asia
ISK,Iceland Krona,Iceland,Europe & Central Asia
ILS,New Israeli Shekel,Israel,Middle East & North Africa
JPY,Japanese yen,Japan,East Asia & Pacific
KRW,South Korean Won,South Korea,East Asia & Pacific
NOK,Norwegian Krone,Norway,Europe & Central Asia
SGD,Singapore Dollar,Singapore,East Asia & Pacific
SEK,Swedish Krona,Sweden,Europe & Central Asia
CHF,Swiss Franc,Switzerland,Europe & Central Asia
GBP,Pound Sterling,United Kingdom,Europe & Central Asia
CNY,Yuan Renminbi,China,East Asia & Pacific
FJD,Fiji Dollar,Fiji,East Asia & Pacific
INR,Indian Rupee,India,South Asia
IDR,Rupiah,Indonesia,East Asia & Pacific
MYR,Malaysian Ringgit,Malaysia,East Asia & Pacific
PHP,Philippine Peso,Philippines,East Asia & Pacific
LKR,Sri Lanka Rupee,Sri Lanka,South Asia
THB,Baht,Thailand,East Asia & Pacific
VND,Vietnamese đồng,Vietnam,East Asia & Pacific
BGN,Bulgarian Lev,Bulgaria,Europe & Central Asia
HRK,Croatian Kuna,Croatia,Europe & Central Asia
HUF,Forint,Hungary,Europe & Central Asia
PLN,Zloty,Poland,Europe & Central Asia
RON,Romanian New Leu,Romania,Europe & Central Asia
TRY,New Turkish Lira,Turkey,Europe & Central Asia
RUB,Russian Ruble,Russia,Europe & Central Asia
DZD,Algerian Dinar,Algeria,Middle East & North Africa
EGP,Egyptian Pound,Egypt,Middle East & North Africa
KWD,Kuwaiti Dinar,Kuwait,Middle East & North Africa
MAD,Moroccan Dirham,Morocco,Middle East & North Africa
PKR,Pakistan Rupee,Pakistan,South Asia
SAR,Saudi Riyal,Saudi Arabia,Middle East & North Africa
TND,Tunisian Dinar,Tunisia,Middle East & North Africa
AED,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa
GHS,Cedi,Ghana,Sub-Saharan Africa
ZAR,South African Rand,South Africa,Sub-Saharan Africa
BRL,Brazilian Real,Brazil,Latin America & Caribbean
COP,Colombian Peso,Colombia,Latin America & Caribbean
HNL,Lempira,Honduras,Latin America & Caribbean
JMD,Jamaican Dollar,Jamaica,Latin America & Caribbean
MXN,Mexican Peso,Mexico,Latin America & Caribbean
PEN,Nuevo Sol,Peru,Latin America & Caribbean
TTD,Trinidad and Tobago Dollar,Trinidad and Tobago,Latin America & Caribbean
UYU,Peso Uruguayo,Uruguay,Latin America & Caribbean

In [145]:
print(rates_df.shape)
rates_df.head()

(120, 51)

,EUR,CYP,MTL,SKK,CAD,HKD,CZK,DKK,ISK,ILS,...,GHS,ZAR,BRL,COP,HNL,JMD,MXN,PEN,TTD,UYU
date,,,,,,,,,,,,,,,,,,,,,
2007-01-15,1.29890,2.2461,3.0251,0.037374,0.85039,0.12820,0.046615,0.17427,0.014276,0.23633,...,1.08308,0.139034,0.46759,0.000447,0.052925,0.014866,0.091271,0.31326,0.15799,0.041107
2007-02-15,1.30822,2.2580,3.0478,0.037938,0.85422,0.12801,0.046315,0.17551,0.014855,0.23710,...,1.08057,0.139326,0.47722,0.000449,0.052925,0.014818,0.090953,0.31347,0.15842,0.041219
2007-03-15,1.32449,2.2858,3.0879,0.039208,0.85600,0.12799,0.047220,0.17779,0.014932,0.23806,...,1.07854,0.136017,0.47857,0.000455,0.052925,0.014791,0.089954,0.31394,0.15898,0.041350
2007-04-15,1.35185,2.3315,3.1497,0.040393,0.88164,0.12795,0.048273,0.18138,0.015281,0.24494,...,1.07867,0.140786,0.49236,0.000467,0.052925,0.014749,0.091066,0.31463,0.15895,0.041681
2007-05-15,1.35169,2.3265,3.1488,0.040061,0.91333,0.12790,0.047850,0.18140,0.015870,0.24976,...,1.07732,0.142462,0.50388,0.000499,0.052923,0.014682,0.092396,0.31562,0.15918,0.041819

In [146]:
print(cpi_df.shape)
cpi_df.head()

(120, 51)

,EUR,CYP,MTL,SKK,CAD,HKD,CZK,DKK,ISK,ILS,...,GHS,ZAR,BRL,COP,HNL,JMD,MXN,PEN,TTD,UYU
date,,,,,,,,,,,,,,,,,,,,,
2007-01-15,93.33,90.51,90.53,92.33,93.93,92.18,89.92,91.81,73.48,88.77,...,61.25,77.33,84.36,84.93,78.29,62.86,85.85,88.75,72.74,77.95
2007-02-15,93.60,90.45,90.77,92.53,94.62,90.95,90.20,92.79,73.79,88.50,...,62.00,77.22,84.73,85.93,78.97,63.05,86.09,88.97,72.97,78.43
2007-03-15,94.22,91.56,91.22,92.60,95.39,92.67,90.48,93.19,73.53,88.68,...,62.79,77.89,85.04,86.97,79.56,63.79,86.27,89.28,73.20,79.13
2007-04-15,94.82,92.57,91.85,92.80,95.82,92.18,91.09,93.36,73.99,89.12,...,63.76,78.90,85.25,87.75,80.01,64.10,86.22,89.44,73.95,80.10
2007-05-15,95.04,93.03,92.09,92.80,96.25,92.30,91.43,93.52,74.62,89.12,...,64.91,79.34,85.49,88.01,80.33,64.91,85.80,89.89,74.40,80.71

## Let's try to join all that in one dataframe

In [147]:
s_rates_df = pd.DataFrame(rates_df.stack()).rename(columns={0:'exchange_rate'})
s_rates_df['symbol'] = s_rates_df.index.get_level_values(1)
s_rates_df['date'] = s_rates_df.index.get_level_values(0)
print(s_rates_df.shape)
s_rates_df.head()

(6120, 3)

                exchange_rate symbol        date
date
2007-01-15 EUR       1.298900    EUR  2007-01-15
           CYP       2.246100    CYP  2007-01-15
           MTL       3.025100    MTL  2007-01-15
           SKK       0.037374    SKK  2007-01-15
           CAD       0.850390    CAD  2007-01-15

In [148]:
s_rates_df.index.get_level_values(1)

Index(['EUR', 'CYP', 'MTL', 'SKK', 'CAD', 'HKD', 'CZK', 'DKK', 'ISK', 'ILS',
       ...
       'GHS', 'ZAR', 'BRL', 'COP', 'HNL', 'JMD', 'MXN', 'PEN', 'TTD', 'UYU'],
      dtype='object', length=6120)

In [149]:
s_cpi_df = pd.DataFrame(cpi_df.stack()).rename(columns={0:'cpi'})
print(s_cpi_df.shape)
s_cpi_df.head()

(6120, 1)

                  cpi
date
2007-01-15 EUR  93.33
           CYP  90.51
           MTL  90.53
           SKK  92.33
           CAD  93.93

In [150]:
data_df = s_rates_df.join(s_cpi_df)
data_df.index = data_df.index.droplevel(0)
data_df

     exchange_rate symbol        date     cpi
EUR       1.298900    EUR  2007-01-15   93.33
CYP       2.246100    CYP  2007-01-15   90.51
MTL       3.025100    MTL  2007-01-15   90.53
SKK       0.037374    SKK  2007-01-15   92.33
CAD       0.850390    CAD  2007-01-15   93.93
HKD       0.128200    HKD  2007-01-15   92.18
CZK       0.046615    CZK  2007-01-15   89.92
DKK       0.174270    DKK  2007-01-15   91.81
ISK       0.014276    ISK  2007-01-15   73.48
ILS       0.236330    ILS  2007-01-15   88.77
JPY       0.008301    JPY  2007-01-15  100.39
KRW       0.001067    KRW  2007-01-15   88.57
NOK       0.156970    NOK  2007-01-15   90.87
SGD       0.650320    SGD  2007-01-15   88.80
SEK       0.143010    SEK  2007-01-15   94.23
CHF       0.804220    CHF  2007-01-15   96.15
GBP       1.958800    GBP  2007-01-15   90.15
CNY       0.128380    CNY  2007-01-15   89.88
FJD       0.597340    FJD  2007-01-15   84.28
INR       0.022622    INR  2007-01-15   72.19
IDR       0.000110    IDR  2007-01-15   81.23
MYR       0.285090    MYR  2007-01-15   92.19
PHP       0.020447    PHP  2007-01-15   84.48
LKR       0.009216    LKR  2007-01-15   69.09
THB       0.028327    THB  2007-01-15   91.07
VND       0.000062    VND  2007-01-15   66.50
BGN       0.664330    BGN  2007-01-15   81.29
HRK       0.176250    HRK  2007-01-15   89.23
HUF       0.005111    HUF  2007-01-15   83.40
PLN       0.334590    PLN  2007-01-15   88.42
..             ...    ...         ...     ...
MYR       0.224300    MYR  2016-12-15  116.90
PHP       0.020096    PHP  2016-12-15  121.41
LKR       0.006705    LKR  2016-12-15  137.66
THB       0.027945    THB  2016-12-15  111.00
VND       0.000044    VND  2016-12-15  153.07
BGN       0.539390    BGN  2016-12-15  106.41
HRK       0.139850    HRK  2016-12-15  106.73
HUF       0.003375    HUF  2016-12-15  112.97
PLN       0.237710    PLN  2016-12-15  108.70
RON       0.233480    RON  2016-12-15  112.90
TRY       0.285870    TRY  2016-12-15  163.98
RUB       0.016142    RUB  2016-12-15  165.38
DZD       0.009022    DZD  2016-12-15  138.24
EGP       0.054208    EGP  2016-12-15  201.42
KWD       3.274900    KWD  2016-12-15  124.27
MAD       0.098966    MAD  2016-12-15  108.38
PKR       0.009542    PKR  2016-12-15  152.80
SAR       0.266570    SAR  2016-12-15  121.69
TND       0.432830    TND  2016-12-15  134.49
AED       0.272420    AED  2016-12-15  111.85
GHS       0.236290    GHS  2016-12-15  219.87
ZAR       0.072249    ZAR  2016-12-15  141.44
BRL       0.297740    BRL  2016-12-15  153.34
COP       0.000333    COP  2016-12-15  127.96
HNL       0.043133    HNL  2016-12-15  134.46
JMD       0.007749    JMD  2016-12-15  147.07
MXN       0.048799    MXN  2016-12-15  125.38
PEN       0.294370    PEN  2016-12-15  123.83
TTD       0.148610    TTD  2016-12-15  139.44
UYU       0.034743    UYU  2016-12-15  166.72

[6120 rows x 4 columns]

In [151]:
data_df = data_df.join(codes_df).reset_index().drop('index', 1)
data_df.head()

,exchange_rate,symbol,date,cpi,name,country,region
0,0.27224,AED,2007-01-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa
1,0.27230,AED,2007-02-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa
2,0.27242,AED,2007-03-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa
3,0.27233,AED,2007-04-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa
4,0.27241,AED,2007-05-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa

## Let's add the USA cpi

In [152]:
cpi_usa_df = cpi_usa_df.transpose().rename(columns={'USD':'cpi_usa'})
cpi_usa_df.head()

code        cpi_usa
2007-01-15    92.83
2007-02-15    93.32
2007-03-15    94.17
2007-04-15    94.79
2007-05-15    95.37

In [153]:
data_df = data_df.groupby('symbol').apply(lambda x: x.set_index('date', drop=False).join(cpi_usa_df))
data_df

                   exchange_rate symbol        date     cpi  \
symbol date
AED    2007-01-15       0.272240    AED  2007-01-15   86.95
       2007-02-15       0.272300    AED  2007-02-15   86.95
       2007-03-15       0.272420    AED  2007-03-15   86.95
       2007-04-15       0.272330    AED  2007-04-15   86.95
       2007-05-15       0.272410    AED  2007-05-15   86.95
       2007-06-15       0.272340    AED  2007-06-15   86.95
       2007-07-15       0.272490    AED  2007-07-15   86.95
       2007-08-15       0.272390    AED  2007-08-15   86.95
       2007-09-15       0.272130    AED  2007-09-15   86.95
       2007-10-15       0.272190    AED  2007-10-15   86.95
       2007-11-15       0.272820    AED  2007-11-15   86.95
       2007-12-15       0.272330    AED  2007-12-15   86.95
       2008-01-15       0.272300    AED  2008-01-15   93.70
       2008-02-15       0.272540    AED  2008-02-15   94.20
       2008-03-15       0.272440    AED  2008-03-15   94.70
       2008-04-15       0.272060    AED  2008-04-15   95.97
       2008-05-15       0.272490    AED  2008-05-15   96.95
       2008-06-15       0.272320    AED  2008-06-15   97.81
       2008-07-15       0.272390    AED  2008-07-15   98.93
       2008-08-15       0.272330    AED  2008-08-15   99.32
       2008-09-15       0.272000    AED  2008-09-15   99.94
       2008-10-15       0.271670    AED  2008-10-15  100.07
       2008-11-15       0.272650    AED  2008-11-15   99.90
       2008-12-15       0.272290    AED  2008-12-15   99.78
       2009-01-15       0.271880    AED  2009-01-15   99.74
       2009-02-15       0.272210    AED  2009-02-15   99.41
       2009-03-15       0.271980    AED  2009-03-15   98.57
       2009-04-15       0.272370    AED  2009-04-15   98.43
       2009-05-15       0.272080    AED  2009-05-15   98.27
       2009-06-15       0.272490    AED  2009-06-15   98.31
...                          ...    ...         ...     ...
ZAR    2014-07-15       0.093782    ZAR  2014-07-15  125.46
       2014-08-15       0.093764    ZAR  2014-08-15  125.91
       2014-09-15       0.090962    ZAR  2014-09-15  125.91
       2014-10-15       0.090406    ZAR  2014-10-15  126.14
       2014-11-15       0.090188    ZAR  2014-11-15  126.14
       2014-12-15       0.086959    ZAR  2014-12-15  125.91
       2015-01-15       0.086505    ZAR  2015-01-15  125.68
       2015-02-15       0.086357    ZAR  2015-02-15  126.48
       2015-03-15       0.082716    ZAR  2015-03-15  128.29
       2015-04-15       0.083416    ZAR  2015-04-15  129.43
       2015-05-15       0.083467    ZAR  2015-05-15  129.77
       2015-06-15       0.081338    ZAR  2015-06-15  130.33
       2015-07-15       0.080214    ZAR  2015-07-15  131.69
       2015-08-15       0.077428    ZAR  2015-08-15  131.69
       2015-09-15       0.073299    ZAR  2015-09-15  131.69
       2015-10-15       0.074091    ZAR  2015-10-15  132.04
       2015-11-15       0.070640    ZAR  2015-11-15  132.15
       2015-12-15       0.066696    ZAR  2015-12-15  132.49
       2016-01-15       0.061141    ZAR  2016-01-15  133.52
       2016-02-15       0.063427    ZAR  2016-02-15  135.36
       2016-03-15       0.065004    ZAR  2016-03-15  136.35
       2016-04-15       0.068510    ZAR  2016-04-15  137.48
       2016-05-15       0.065208    ZAR  2016-05-15  137.77
       2016-06-15       0.066409    ZAR  2016-06-15  138.47
       2016-07-15       0.069451    ZAR  2016-07-15  139.60
       2016-08-15       0.072555    ZAR  2016-08-15  139.46
       2016-09-15       0.071257    ZAR  2016-09-15  139.75
       2016-10-15       0.071771    ZAR  2016-10-15  140.45
       2016-11-15       0.071773    ZAR  2016-11-15  140.88
       2016-12-15       0.072249    ZAR  2016-12-15  141.44

                                          name               country  \
symbol date
AED    2007-01-15  United Arab Emirates dirham  United Arab Emirates
       2007-02-15  United Arab Emirates dirham  United Arab Emirates
       2007-03-15  United Arab Emirates dirham  United Arab Emirates
       2007-04-15  United Arab Emirates dirham  United Arab Emirates
       2007-05-15  United Arab Emirates dirham  United Arab Emirates
       2007-06-15  United Arab Emirates dirham  United Arab Emirates
       2007-07-15  United Arab Emirates dirham  United Arab Emirates
       2007-08-15  United Arab Emirates dirham  United Arab Emirates
       2007-09-15  United Arab Emirates dirham  United Arab Emirates
       2007-10-15  United Arab Emirates dirham  United Arab Emirates
       2007-11-15  United Arab Emirates dirham  United Arab Emirates
       2007-12-15  United Arab Emirates dirham  United Arab Emirates
       2008-01-15  United Arab Emirates dirham  United Arab Emirates
       2008-02-15  United Arab Emirates dirham  United Arab Emirates
       2008-03-15  United Arab Emirates dirham  United Arab Emirates
       2008-04-15  United Arab Emirates dirham  United Arab Emirates
       2008-05-15  United Arab Emirates dirham  United Arab Emirates
       2008-06-15  United Arab Emirates dirham  United Arab Emirates
       2008-07-15  United Arab Emirates dirham  United Arab Emirates
       2008-08-15  United Arab Emirates dirham  United Arab Emirates
       2008-09-15  United Arab Emirates dirham  United Arab Emirates
       2008-10-15  United Arab Emirates dirham  United Arab Emirates
       2008-11-15  United Arab Emirates dirham  United Arab Emirates
       2008-12-15  United Arab Emirates dirham  United Arab Emirates
       2009-01-15  United Arab Emirates dirham  United Arab Emirates
       2009-02-15  United Arab Emirates dirham  United Arab Emirates
       2009-03-15  United Arab Emirates dirham  United Arab Emirates
       2009-04-15  United Arab Emirates dirham  United Arab Emirates
       2009-05-15  United Arab Emirates dirham  United Arab Emirates
       2009-06-15  United Arab Emirates dirham  United Arab Emirates
...                                        ...                   ...
ZAR    2014-07-15           South African Rand          South Africa
       2014-08-15           South African Rand          South Africa
       2014-09-15           South African Rand          South Africa
       2014-10-15           South African Rand          South Africa
       2014-11-15           South African Rand          South Africa
       2014-12-15           South African Rand          South Africa
       2015-01-15           South African Rand          South Africa
       2015-02-15           South African Rand          South Africa
       2015-03-15           South African Rand          South Africa
       2015-04-15           South African Rand          South Africa
       2015-05-15           South African Rand          South Africa
       2015-06-15           South African Rand          South Africa
       2015-07-15           South African Rand          South Africa
       2015-08-15           South African Rand          South Africa
       2015-09-15           South African Rand          South Africa
       2015-10-15           South African Rand          South Africa
       2015-11-15           South African Rand          South Africa
       2015-12-15           South African Rand          South Africa
       2016-01-15           South African Rand          South Africa
       2016-02-15           South African Rand          South Africa
       2016-03-15           South African Rand          South Africa
       2016-04-15           South African Rand          South Africa
       2016-05-15           South African Rand          South Africa
       2016-06-15           South African Rand          South Africa
       2016-07-15           South African Rand          South Africa
       2016-08-15           South African Rand          South Africa
       2016-09-15           South African Rand          South Africa
       2016-10-15           South African Rand          South Africa
       2016-11-15           South African Rand          South Africa
       2016-12-15           South African Rand          South Africa

                                       region  cpi_usa
symbol date
AED    2007-01-15  Middle East & North Africa    92.83
       2007-02-15  Middle East & North Africa    93.32
       2007-03-15  Middle East & North Africa    94.17
       2007-04-15  Middle East & North Africa    94.79
       2007-05-15  Middle East & North Africa    95.37
       2007-06-15  Middle East & North Africa    95.55
       2007-07-15  Middle East & North Africa    95.53
       2007-08-15  Middle East & North Africa    95.35
       2007-09-15  Middle East & North Africa    95.61
       2007-10-15  Middle East & North Africa    95.82
       2007-11-15  Middle East & North Africa    96.39
       2007-12-15  Middle East & North Africa    96.32
       2008-01-15  Middle East & North Africa    96.80
       2008-02-15  Middle East & North Africa    97.08
       2008-03-15  Middle East & North Africa    97.92
       2008-04-15  Middle East & North Africa    98.52
       2008-05-15  Middle East & North Africa    99.35
       2008-06-15  Middle East & North Africa   100.35
       2008-07-15  Middle East & North Africa   100.88
       2008-08-15  Middle East & North Africa   100.47
       2008-09-15  Middle East & North Africa   100.33
       2008-10-15  Middle East & North Africa    99.32
       2008-11-15  Middle East & North Africa    97.42
       2008-12-15  Middle East & North Africa    96.41
       2009-01-15  Middle East & North Africa    96.83
       2009-02-15  Middle East & North Africa    97.31
       2009-03-15  Middle East & North Africa    97.55
       2009-04-15  Middle East & North Africa    97.79
       2009-05-15  Middle East & North Africa    98.07
       2009-06-15  Middle East & North Africa    98.92
...                                       ...      ...
ZAR    2014-07-15          Sub-Saharan Africa   109.26
       2014-08-15          Sub-Saharan Africa   109.08
       2014-09-15          Sub-Saharan Africa   109.16
       2014-10-15          Sub-Saharan Africa   108.89
       2014-11-15          Sub-Saharan Africa   108.30
       2014-12-15          Sub-Saharan Africa   107.68
       2015-01-15          Sub-Saharan Africa   107.18
       2015-02-15          Sub-Saharan Africa   107.64
       2015-03-15          Sub-Saharan Africa   108.28
       2015-04-15          Sub-Saharan Africa   108.50
       2015-05-15          Sub-Saharan Africa   109.06
       2015-06-15          Sub-Saharan Africa   109.44
       2015-07-15          Sub-Saharan Africa   109.45
       2015-08-15          Sub-Saharan Africa   109.29
       2015-09-15          Sub-Saharan Africa   109.12
       2015-10-15          Sub-Saharan Africa   109.07
       2015-11-15          Sub-Saharan Africa   108.84
       2015-12-15          Sub-Saharan Africa   108.47
       2016-01-15          Sub-Saharan Africa   108.65
       2016-02-15          Sub-Saharan Africa   108.74
       2016-03-15          Sub-Saharan Africa   109.21
       2016-04-15          Sub-Saharan Africa   109.72
       2016-05-15          Sub-Saharan Africa   110.17
       2016-06-15          Sub-Saharan Africa   110.53
       2016-07-15          Sub-Saharan Africa   110.35
       2016-08-15          Sub-Saharan Africa   110.45
       2016-09-15          Sub-Saharan Africa   110.72
       2016-10-15          Sub-Saharan Africa   110.86
       2016-11-15          Sub-Saharan Africa   110.68
       2016-12-15          Sub-Saharan Africa   110.72

[6120 rows x 8 columns]

In [155]:
# data_df.reset_index(level=1, inplace=True, drop=True)
data_df.reset_index(inplace=True, drop=True)
data_df.head()

,exchange_rate,symbol,date,cpi,name,country,region,cpi_usa
0,0.27224,AED,2007-01-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,92.83
1,0.27230,AED,2007-02-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,93.32
2,0.27242,AED,2007-03-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,94.17
3,0.27233,AED,2007-04-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,94.79
4,0.27241,AED,2007-05-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,95.37

### Let's check that worked

In [160]:
d1 = data_df[data_df['symbol']=='UYU']
d2 = data_df[data_df['symbol']=='EUR']

In [164]:
d2['cpi_usa'].values - d1['cpi_usa'].values

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.])

In [165]:
data_df.to_csv(DATA_PATH + 'data.csv')

In [166]:
data_df.head()

,exchange_rate,symbol,date,cpi,name,country,region,cpi_usa
0,0.27224,AED,2007-01-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,92.83
1,0.27230,AED,2007-02-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,93.32
2,0.27242,AED,2007-03-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,94.17
3,0.27233,AED,2007-04-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,94.79
4,0.27241,AED,2007-05-15,86.95,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,95.37